<div class="home-banner" style="background-image: url('https://res.cloudinary.com/dami1a/image/upload/v1550229182/bar_counter.jpg');">
  <h1>Les Cocktails du Sagouin</h1>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>);">
          <div class="card-category">Cocktail</div>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <ul>
              <% Dose.where(cocktail_id: cocktail.id).each do |dose| %>
                <li><%= "#{dose.description} of #{dose.ingredient.name}" %></li>
              <% end %>
            </ul>
          </div>
          <%= link_to '', new_cocktail_dose_path(cocktail.id), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

