<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path('Shaker')%>');">
  <h1>Add a cocktail!</h1>
</div>
<br>
<%= render 'form', cocktail: @cocktail %>
<br>
