<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path('alcohol-bar-beer-1283219')%>');">
  <h1>Amazing ingredients!</h1>
</div>

<div class="container">
  <div class="row">
    <% @ingredients.each do |ingredient| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('ingredient')%>);">
          <div class="card-category">Ingredient</div>
          <div class="card-description">
            <h2><%= ingredient.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
